.App {
    background: #9D9898;
}

.header {
    display: flex;
    justify-content: center;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.twoColumn {
    width: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
}

.containerColumn {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.skillsImage {
    width: 100%;
    height: 90%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
}

#underline {
    text-decoration: underline;
}